
div.topline
    header.container
        div.topline-content
            |
            |
            a.logo(href="#")
                img(src="img/logo.png" alt="logo")
                | bran
                span d
            form.searchform(action="#")
                div.dropdown
                    a.browsebutton(href="#") Browse
                    div.dropdown-child(style="top: 36px")
                        div.dropdown-child__menu
                            p.dropdown-header women
                            div.dropdown-child__nav
                                -
                                    var list = ["Dresses", "Tops", "Sweaters/Knits", "Jackets/Coats", "Blazers", "Denim", "Leggins/Pants", "Skirts/Shorts", "Accessories"]
                                each item in list
                                    a.dropdown-link(href = "#")= item
                            p.dropdown-header men
                            div.dropdown-child__nav
                                -
                                    var list = ["Tees/Tank tops", "Shirts/Polos", "Sweaters", "Sweatshirts/Hoodies", "Blazers", "Jackets/vests"]
                                each item in list
                                    a.dropdown-link(href = "#")= item
                input(type="text" placeholder="Search for item...")
                a(href="#").searchbutton
                    i.fa.fa-search(aria-hidden="true")
            img.basket(src="img/Forma_1.png" alt="basket")
            a.myaccount(href="#") My Account
mixin include(menu)
    - var str = menu
        if str == "megamenuwomen"
            include megamenu/megamenuwomen
        if str == "megamenufeatured"
            include megamenu/megamenufeatured
        if str == "megamenuhotdeals"
            include megamenu/megamenuhotdeals
nav.topnav
    mixin nav(link)
        - var linkarr = link
        - for (var i=0; i<linkarr.length; i++)
            if linkarr[i][2].length > 0
                div.dropdown
                    a.topnav-a(class!=attributes.class href=linkarr[i][1])= linkarr[i][0]
                    div.dropdown-child(style="top: 50px")
                        +include(linkarr[i][2])
            else
                a.topnav-a(class!=attributes.class href=linkarr[i][1])= linkarr[i][0]

    +nav([["home", "#", []],
        ["man", "#", []],
        ["women", "#", ["megamenuwomen"]],
        ["kids", "#", []],
        ["accessories", "#", []],
        ["featured", "#", ["megamenufeatured"]],
        ["hot deals", "#", ["megamenuhotdeals"]]])