section.cotainer-full.subscribe
    div.container
        div.subscribe-block
            div.subscribe-comment
                div.subscribe-comment__avatar
                    img.subscribe-comment__img(src="img/Layer_40.png" alt="avatar")
                div.subscribe-comment__comment
                    i “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                    p.subscribe-comment__p
                        span.subscribe-comment__span Bin Burhan
                    | Dhaka, Bd
                    div.subscribe-comment__line.first-line
                    div.subscribe-comment__line.line-color
                    div.subscribe-comment__line
            div.subscribe-line
            div.subscribe-form
                h2.subscribe-form__h2 subscribe
                p.subscribe-form__p for our newletter and promotion
                form.subscribe-form__form(action="#")
                    input.subscribe-form__input(type="text" placeholder="Enter Your Email")
                    a.subscribe-form__button(href="#") Subscribe